
$Url: "https://home-admin-5ec570379146.herokuapp.com";

.slide {
  width: 100vw;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('#{$Url}/assets/slide.jpg');
  background-position: center top;
  background-size: cover;

  h1 {
    padding: 40px 20px;
    font-size: 40px;
    text-align: center;
    color: white;
  }
}

